# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Wails build output
build/bin/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/dist/assets/
frontend/dist/lib/
node_modules/

# Logs
*.log

# Development
dev/
